.about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    border-bottom: solid 1px #525252;
}

.page-header {
    font-size: 3.5rem;
    padding: 2rem;
    margin-top: 7rem;
    margin-bottom: 0rem;
}

.about-logo {
    width: 300px;
    padding: 2rem;
    margin-top: 2rem;
}

.about-text {
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.7rem;
}


@media (min-width: 1400px) {
    .about-container {
      max-width: 1400px;
      margin: 0 auto;
    }
  }