.overlay-container {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 45vh;
  padding-bottom: 5rem;
  background-color: #323232dd;
  border: solid 1.3px #474747ee;
  box-shadow: 0px 10px 10px 0px #0000007a;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.movies {
  position: relative;
  z-index: 500;
}

.divider {
  position: relative;
  z-index: 500;
}

.section-header {
  position: relative;
  z-index: 500;
  margin-top: 0rem;
  font-size: 2rem;
  padding-right: 3rem;
}

.home_container {
  overflow: hidden;
}

.handle {
  width: 5rem;
  height: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  animation: pulse-shadow 2s infinite;
}

.handle[title]:hover::after {
  position: absolute;
  z-index: 1;
  content: attr(title);
  font-size: 1rem;
  font-weight: bold;
  color: #101010;
  text-align: center;
  background-color: #b6e7ff;
  padding: 5px;
  border-radius: 5px;
  top: -2rem;
  right: 44%;
  
}

.handle:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px #ffffffbd;
}

/* desktop styles */
@media (min-width: 50em) {
  .overlay-container {
    margin-top: 75vh;
  }
  .section-header {
    margin-top: 0rem;
    font-size: 3rem;
  }
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 10px #ffffff5c;
  }
  50% {
    box-shadow: 0 0 20px #ffffff;
  }
  100% {
    box-shadow: 0 0 10px #ffffff5c;
  }
}
