.moviePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.movieInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.banner {
  width: 90%;
  height: auto;
  position: relative;
  margin: 3rem auto;
  margin-top: 9rem;
  border-radius: 1.5rem;
  box-shadow: 0px 7px 25px #000000c0;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
}

.title {
  font-size: 1.7rem;
}

.fav-button {
  color: #ffffff;
  width: 100%;
}

.MuiRating-icon.MuiRating-iconEmpty.css-9xw0na-MuiRating-icon {
  color: #dddddd;
}

.cast-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  border-bottom: solid 1px #525252;
}

.cast-header {
  margin-top: 8rem;
  padding-bottom: 0.8rem;
  font-size: 3rem;
  border-bottom: solid 1px #525252;
}

.cast-image {
  border-radius: 1rem;
  box-shadow: 0px 7px 25px #000000c0;
}

.actor-name {
  font-size: 1.5rem;
}

.actor-role {
  font-size: 1.2rem;
}

.rec-container {
  box-shadow: 0px 7px 25px #000000d2;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

@media (min-width: 50rem) {
  .fav-button {
    width: 5rem;
  }

  .title {
    font-size: 3rem;
  }

  .movieInfo {
    width: 50%;
  }

  .banner {
    width: 50%;
  }
  .cast-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
    justify-content: center;
  }
}
