.page-footer {
  position: relative;
  z-index: 500;
  padding: 2rem;
  border-top: 1px solid #525252;
  background-color: #323232dd;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
