/* navigation */

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0rem auto;
  border-radius: 0rem;
  height: 5rem;
  display: flex;
  z-index: 1000;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 1rem;
  background-color: #323232dd;
  border: solid 1.3px #474747ee;
  border-top: 2px solid #555555ee;
  box-shadow: 0px 10px 10px 0px #0000007a;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

menu {
  max-width: 1600px;
  display: flex;
  height: 0rem;
  position: absolute;
  width: 100%;
  list-style: none;
  right: 0rem;
  margin-top: 26rem;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  background-color: #1e1e1eeb;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.site-logo {
  width: 3rem;
  height: 3rem;
  margin: 0.7rem auto;
  margin-top: 0.8rem;
  margin-right: 1rem;
}

.navlink,
.navlink:visited {
  padding: 0.6rem 1.2rem;
  margin: 0.2rem;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.7s;
  background-color: transparent;
  border-radius: 0.7rem;
  pointer-events: all;
}

.navlink:hover,
.navlink:active {
  color: #000000;
  background-color: #b6e7ff;
  box-shadow: 0px 7px 15px #000000c0;
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: transparent;
  width: 3.5rem;
  height: 3.5rem;
  pointer-events: all;
}

.menu_button:active {
  color: #000000;
  background-color: #b6e7ff;
}

.menu_icon {
  font-size: 3rem;
}

/* class to open menu in javascript */
.menu_toggle {
  /* display: flex; */
  height: 20rem;
  overflow: visible;
  pointer-events: none;
}

/* desktop styles */
@media (min-width: 50em) {
  /* navigation */

  header {
    max-width: 1350px;
    align-items: center;
    flex-direction: row;
    margin: 0.8rem auto;
    padding: 0rem 3rem;
    border-radius: 1.5rem;
  }

  menu {
    display: flex;
    height: 100%;
    position: static;
    height: 5rem;
    margin-right: 0rem;
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .menu_button {
    display: none;
  }

  .menu_toggle {
    height: 100rem;
  }

  #skip_to_main {
    height: auto;
    margin: 0rem;
    margin-left: 0rem;
  }
}

@media (min-width: 100rem) {
  /* navigation */

  header {
    max-width: 1610px;
  }
}
