.movie-card {
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  background: #000000;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 7px 25px #000000c0;
  transition: 0.5s ease;
}

.movie-card:hover {
  box-shadow: 0px 7px 25px #e6e6e656;
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  display: block;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: #000000e8;
  padding: 1rem;
  margin-bottom: 3rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover:hover {
  opacity: 1;
}

.title-and-release {
  color: #ffffff;
}

.title-and-release h2 {
  font-size: 1.25rem;
  margin: 0 0 0.5rem 0;
  overflow-wrap: break-word;
  padding-right: 2rem;
}

.title-and-release p {
  font-size: 0.9rem;
  margin: 0;
  color: #ffffff;
}

/* Rating and favorite section */
.rating-and-favorite {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  padding-bottom: 1rem;
  align-items: center;
  color: #ffffff;
}

.rating-and-favorite p {
  font-size: 1rem;
  margin: 0;
}