.movies {
  padding: 2rem;
}

.movies h1 {
  margin-bottom: 2rem;
}

.movies:first-of-type {
  margin-top: 2rem;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  max-width: 1980px; /* Optional: Restrict max width */
  margin: 0 auto;
}

.movie-card {
  max-width: 300px; /* Ensures it doesn't get too big */
  width: 100%;
}

.divider {
  margin-top: 3rem;
  border-bottom: solid 1px #525252;
  width: 100%;
}
