.search-container {
  z-index: 1000;
  width: 100%;
  pointer-events: all;
}

.search-bar {
  display: flex;
  height: 2rem;
  align-items: center;
  border-radius: 1rem;
  padding: 8px 5px;
  margin-right: 0rem;
  border-top: 2px solid #525252;
  background-color: #333333;
  box-shadow: 0px 7px 5px #0000005c;
}

/* .search-bar:hover {
  border: #b6e7ff 2px solid;
} */

.search-bar:focus-within {
  box-shadow: 0px 7px 15px #000000c0;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-weight: bold;
}

.clear-btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  color: #f0f0f0;
  padding: 0.6rem 0.6rem;
}

.clear-btn:hover {
  background: #b6e7ff;
  color: #010101;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  width: 80%;
  height: 23rem;
  background: #323232dd;
  box-shadow: 0px 7px 15px #000000da;
  border: solid 1px #494949;
  border-radius: 1rem;
  margin-top: 0.5rem;
  list-style: none;
  padding: 0;
  overflow-y: auto;
  color: white;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 0.7rem;
  margin: 0.7rem;
  font-weight: bold;
}

.autocomplete-item:hover {
  background-color: #b6e7ff;
  color: #010101;
}

.search-bar input {
  display: inline;
  background-color: #333333;
  color: #f0f0f0;
}

.search-btn {
  width: 3rem;
  border: solid 2px #333333;
  border-radius: 10px;
}

.search-icon {
  display: inline;
}

.search-bar form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 1024px) {
  .search-bar {
    width: 30%;
    margin-right: 1rem;
  }

  .autocomplete-list {
    width: 21rem;
    height: 40rem;
  }
}

@media (min-width: 50em) {
  .search-bar {
    width: 30rem;
    margin-right: 3rem;
  }

  .autocomplete-list {
    position: absolute;
    width: 31rem;
    height: 40rem;
  }
}