.splideContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 0rem;
  z-index: 1;
}

.splideSlide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splide__arrow {
  border-radius: 1rem;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.splide__arrow svg {
  fill: #ffffff;
}

.splide__arrow svg:hover {
  fill: #ff0000;
}

.splide__pagination {
  margin-bottom: 17rem;
}

.home-banner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  margin: 0rem auto;
  box-shadow: 0px 7px 25px #000000c0;
}

@media (min-width: 1400px) {
  .home-banner {
    height: auto;
  }
}
